force-app/main/default/flows/AssignPermissionSet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Email</name>
        <label>Error Email</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Flow_Error_UserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>vdogra@skedulo.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Flow_error_subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddExtractValuetoList</name>
        <label>AddExtractValuetoList</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>extractedSkedUserTypeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaOneSkedUserType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExtractSkedUserTypeValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPermissionSettoCollection</name>
        <label>AssignPermissionSettoCollection</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetPermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSkedUserType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUserPermissionRecords</name>
        <label>AssignUserPermissionRecords</label>
        <locationX>270</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>UserPermission.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopFilteredPermissionSet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserPermission.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetSkedUserType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateUserPermissionSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignPermissionSettoCollection</name>
        <label>Copy 1 of AssignPermissionSettoCollection</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_GetPermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSkedUserType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_AssignPermissionSettoCollection</name>
        <label>Copy 2 of AssignPermissionSettoCollection</label>
        <locationX>798</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_GetPermissionSet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSkedUserType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateUserPermissionSet</name>
        <label>CreateUserPermissionSet</label>
        <locationX>270</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>UserPermissionSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UserPermission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFilteredPermissionSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ExtractSkedUserTypeValue</name>
        <label>ExtractSkedUserTypeValue</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>formattedSkedUserType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeOneSkedUsertype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>formattedSkedUserTypeAssignment</name>
        <label>formattedSkedUserTypeAssignment</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>formattedSkedUserType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaRemoveBrakcetsAndAddSemiColon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Values_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Values_Parsed</name>
        <label>All Values Parsed</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>AddExtractValuetoList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formattedSkedUserType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSkedUserType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSkedUserType</name>
        <label>CheckSkedUserType</label>
        <locationX>666</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>LoopSkedUserType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSkedUserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPermissionSet</targetReference>
            </connector>
            <label>IsResource</label>
        </rules>
        <rules>
            <name>IsScheduler</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSkedUserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduler</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_GetPermissionSet</targetReference>
            </connector>
            <label>IsScheduler</label>
        </rules>
        <rules>
            <name>IsAdmin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSkedUserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_GetPermissionSet</targetReference>
            </connector>
            <label>IsAdmin</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserRecordReceived</name>
        <label>UserRecordReceived</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ValidUserRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSkedUserType.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>formattedSkedUserTypeAssignment</targetReference>
            </connector>
            <label>ValidUserRecord</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaOneSkedUserType</name>
        <dataType>String</dataType>
        <expression>TRIM( 
     LEFT(
             {!formattedSkedUserType}, 
              FIND(
                     &quot;;&quot;,{!formattedSkedUserType}
             ) - 1
       ) 
 )</expression>
    </formulas>
    <formulas>
        <name>formulaRemoveBrakcetsAndAddSemiColon</name>
        <dataType>String</dataType>
        <expression>{!rawSkedUserType} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>removeOneSkedUsertype</name>
        <dataType>String</dataType>
        <expression>TRIM(
     SUBSTITUTE({!formattedSkedUserType},  {!formulaOneSkedUserType}+&quot;;&quot;, &quot;&quot;)
 )</expression>
    </formulas>
    <formulas>
        <name>ResumeTimer</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+0.0001</expression>
    </formulas>
    <interviewLabel>AssignPermissionSet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignPermissionSet</label>
    <loops>
        <name>LoopFilteredPermissionSet</name>
        <label>LoopFilteredPermissionSet</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <collectionReference>PermissionSetCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUserPermissionRecords</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pause_To_Avoid_Mixed_DML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSkedUserType</name>
        <label>LoopSkedUserType</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>extractedSkedUserTypeCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckSkedUserType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopFilteredPermissionSet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AssignPermissionSettoUser</name>
        <label>AssignPermissionSettoUser</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <inputReference>UserPermissionSet</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_GetPermissionSet</name>
        <label>Copy 1 of GetPermissionSet</label>
        <locationX>534</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_AssignPermissionSettoCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Skedulo Scheduler</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_GetPermissionSet</name>
        <label>Copy 2 of GetPermissionSet</label>
        <locationX>798</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_AssignPermissionSettoCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Skedulo BG Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPermissionSet</name>
        <label>GetPermissionSet</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPermissionSettoCollection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Skedulo Resource</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSkedUserType</name>
        <label>GetSkedUserType</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UserRecordReceived</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSkedUserType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Flow_error_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Flow OnboardUser Error&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Flow_Error_UserId</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Assign Permission Flow Error&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_ResourceFilterPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>extractedSkedUserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>extractedSkedUserTypeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formattedSkedUserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PermissionSetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSet</objectType>
    </variables>
    <variables>
        <name>rawSkedUserType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetSkedUserType.sked__skeduloUserType__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecordUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransformUserTypeCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserPermission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>UserPermissionSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>UserTypeTextCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Pause_To_Avoid_Mixed_DML</name>
        <label>Pause To Avoid Mixed DML</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>PauseMixedDML</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>AssignPermissionSettoUser</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>ResumeTimer</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>PauseMixedDML</label>
        </waitEvents>
    </waits>
</Flow>
