force-app/main/default/flows/CreateResourceFromUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>ValidUserRecord</name>
        <label>ValidUserRecord</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateResource</targetReference>
            </connector>
            <label>Valid User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SkedCountryCode</name>
        <dataType>String</dataType>
        <expression>IF({!GetUserId.Country} = &quot;Australia&quot;, &quot;AU&quot;, IF({!GetUserId.Country}=&quot;New Zealand&quot;, &quot;NZ&quot;, &quot;US&quot;))</expression>
    </formulas>
    <interviewLabel>CreateResourceFromUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateResourceFromUser</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateResource</name>
        <label>CreateResource</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>RecordResourceIdOutput</assignRecordIdToReference>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetUserId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetUserId.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Alias__c</field>
            <value>
                <elementReference>GetUserId.Alias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Auto_Schedule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Category__c</field>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Country_Code__c</field>
            <value>
                <elementReference>SkedCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Email__c</field>
            <value>
                <elementReference>GetUserId.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Employment_Type__c</field>
            <value>
                <stringValue>Full-time</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Mobile_Phone__c</field>
            <value>
                <elementReference>GetUserId.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Notification_Type__c</field>
            <value>
                <stringValue>push</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Primary_Phone__c</field>
            <value>
                <elementReference>GetUserId.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Primary_Region__c</field>
            <value>
                <elementReference>GetUserId.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Rating__c</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Resource_Type__c</field>
            <value>
                <stringValue>Person</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__User__c</field>
            <value>
                <elementReference>GetUserId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Weekly_Hours__c</field>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sked__Working_Hour_Type__c</field>
            <value>
                <stringValue>Availability</stringValue>
            </value>
        </inputAssignments>
        <object>sked__Resource__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetUserId</name>
        <label>GetUserId</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidUserRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordResourceIdOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
