force-app/main/default/flows/EvaluateUserType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>OrchestrationConditionMet</name>
        <label>OrchestrationConditionMet</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>OrchestrationCondtionNotMet</name>
        <label>OrchestrationCondtionNotMet</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckSkedUserType</name>
        <label>CheckSkedUserType</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>OrchestrationCondtionNotMet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserTypeResource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserId.sked__skeduloUserType__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Resource</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrchestrationConditionMet</targetReference>
            </connector>
            <label>UserTypeResource</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>EvaluateUserType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EvaluateUserType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <recordLookups>
        <name>GetUserId</name>
        <label>GetUserId</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckSkedUserType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
