force-app/main/default/flows/Onboard_Skedulo_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Onboard Skedulo User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboard Skedulo User</label>
    <orchestratedStages>
        <name>AssignResourceAvailability</name>
        <label>AssignResourceAvailability</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Resource_Availability_Pattern</name>
            <actionName>StageAssignAvailabilityPattern</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>RecordResourceId</name>
                <value>
                    <elementReference>Create_Resource.Outputs.RecordResourceIdOutput</elementReference>
                </value>
            </inputParameters>
            <label>Create Resource Availability Pattern</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Skedulo_Permission</name>
        <label>Stage 1: Skedulo Permission</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Skedulo_Resource</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Skedulo_Permission_Set</name>
            <actionName>AssignPermissionSet</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>RecordUserId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Assign Skedulo Permission Set</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Skedulo_Resource</name>
        <label>Stage 2: Skedulo Resource</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>AssignResourceAvailability</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Resource</name>
            <actionName>CreateResourceFromUser</actionName>
            <actionType>stepBackground</actionType>
            <entryActionInputParameters>
                <name>RecordUserId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>EvaluateUserType</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>RecordUserId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Create Resource</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skedulo_Permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sked__skeduloUserType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
